<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<base href="/" />
		<meta charset="utf-8">
		<title>Secoo管理平台</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/list.css" />
		<link rel="stylesheet" href="css/modaldialog.css" />
		<script src="js/jquery-3.5.1.min.js"></script>
		<script src="js/modaldialog.js"></script>
		<script>
			/**
			 * 全选与反选
			 * @param {Object} target 事件源
			 */
			function checkOrUncheckAll(target) {
				//获得所有name属性值为id复选框
				var idCheckboxs = $("#form2 input[name=id]");
				//更改选中的状态
				idCheckboxs.prop("checked", target.checked);
			}
			
			/**
			 * 添加
			 */
			function add() {
				location.href = "user/addview";
			}
			
			/**
			 * 修改
			 */
			function update() {
				//获得选中行（选中复选框）的数量
				var count = $("#form2 input[name=id]:checked").length;
				//判断是否未选中1行数据
				if(count != 1) {
					alert("请选择1行修改的数据!");
					return;
				}
				//获得选中数据行的ID
				var id = $("#form2 input[name=id]:checked").val();
				//连接到修改页面
				location.href = "user/updateview/"+id;
			}
			
			/**
			 * 删除
			 */
			function deleting() {
				var count = $("#form2 input[name=id]:checked").length;
				//判断是否未选中数据行
				if(count == 0) {
					alert("请至少选择1行删除的数据!");
					return;
				}
				//弹出选择对话框，用户确认是否删除
				confirm("您确定要删除选择的数据行?", function() {
					//获取表单对象
					var form = $("#form2").get(0);
					//设置提交路径
					form.action = "user/delete";
					//提交表单
					form.submit();
				});
			}
			
			//页面加载完毕后执行
			$(function() {
				//数据行中复选框绑定单击事件
				$("#form2 input[name=id]").on("click", function() {
					//获得数据行中复选框选中的数量
					var count = $("#form2 input[name=id]:checked").length;
					//判断选中的数是否为0
					if(count == 0) {
						//取消表头中复选框的选中状态
						$("#form2 table tr th input").prop("checked", false);
					}
				});
				/* $("body").append('<div style="position:absolute;'+
					'top:0px;right:0px;bottom:0px;left:0px;background:#000000;opacity:0.3;"></div>'); */
			});
		</script>
	</head>
	<body>
		<div id="header">
			<img src="img/logo2.png" width="30" height="70" class="logo" />
			<ul class="header-nav">
				<li><a href="index.html">寺库首页</a></li>
				<li><a href="javascript:void(0);">收藏寺库</a></li>
				<li><a href="javascript:void(0);">寺库APP</a></li>
			</ul>
			<div class="user-info"><i class="fa fa-user-circle-o"></i>admin
				<ul>
					<li><a href="javascript:void(0);">个人中心</a></li>
					<li><a href="javascript:void(0);">修改密码</a></li>
					<li><a href="login.html">注销</a></li>
				</ul>
			</div>
		</div>
		<div id="pageBody">
			<h4 class="title">会员管理</h4>
			<hr />
			<div id="sideBar">
				<iframe src="sidebar.html" width="100%" height="100%" frameborder="0"></iframe>
			</div>
			<div class="content">
				<div class="search">
					<form id="form1" method="post" action="user/query">
						<p>
							<input type="text" name="suserName" class="form-input" placeholder="按会员名搜索!" />
							<button class="btn btn-success"><i class="fa fa-search"></i>&nbsp;搜索</button>
						</p>
					</form>
				</div>
				<div class="data-list">
					<p class="data-info">共[[${list.size()}]]行, 共1页数据</p>
					<form id="form2" method="get" action="">
						<table class="table table-bordered table-hover">
							<tr>
								<th><input type="checkbox" onclick="checkOrUncheckAll(this)" /></th>
								<th>序号</th>
								<th>用户名</th>
								<th>性别</th>
								<th>出生年月</th>
							</tr>
							<tr th:each="user,status:${list}">
								<td><input type="checkbox" name="id" th:value="${user.userId}"/></td>
								<td>[[${status.count}]]</td>
								<td>[[${user.userName}]]</td>
								<td>[[${user.userGender}]]</td>
								<td>[[${#dates.format(user.userBirthday, 'yyyy年MM月dd日')}]]</td>
							</tr>
						</table>
					</form>
				</div>
				<div class="oper-bar">
					<div class="btn-bar">
						<button class="btn btn-primary" onclick="add()"><i class="fa fa-plus"></i>添加</button>
						<button class="btn btn-info" onclick="update()"><i class="fa fa-edit"></i>修改</button>
						<button class="btn btn-danger" onclick="deleting()"><i class="fa fa-trash"></i>删除</button>
					</div>
					<div class="page-bar">
						<a href="admin/type/typelist.html"><</a>
						<a href="admin/type/typelist.html" class="active">1</a>
						<a href="admin/type/typelist.html">></a>
					</div>
				</div>
			</div>
		</div>
		<!-- <div id="modalDialog">
			<div class="modal-dialog">
				<i class="fa fa-remove"></i>
				<p class="modal-dialog-title">提示</p>
				<p class="modal-dialog-message">.....</p>
				<p class="modal-dialog-btns">
					<input type="button" value="确 定" class="btn btn-primary btn-sm" />
				</p>
			</div>
		</div> -->
	</body>
</html>
