<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<title>Secoo管理平台-登录</title>
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/login.css" />
		<script src="js/jquery-3.5.1.min.js"></script>
		<script th:inline="javascript">
			var error = [[${error}]];
		</script>
		<script>
			/**
			 * 切换登录的界面
			 * @param {Object} target 事件源
			 * @param {Object} id  界面(div)的id
			 */
			function toggleLoginPanel(target, id) {
				//删除所有拥有.active样式的label标签的active样式
				$("#pageBody .pd-panel .oper-tab label.active").removeClass("active");
				//获得Label标签对象
				var label = $(target).parent();
				//修改样式，高亮当前Label标签，切换为选中状态
				label.addClass("active");
				//获得操作界面
				var qrcodeLogin = $("#qrcodeLogin");
				var passwordLogin = $("#passwordLogin");
				//设置两操作界面均不显示
				qrcodeLogin.css("display", "none");
				passwordLogin.css("display", "none");
				//显示指定id的操作界面
				$("#"+id).css("display", "block");
			}
			//页面加载完毕后执行
			$(function (){
				if (error){
					var passwdbtn = $("#passwordLoginButton").get(0);
					toggleLoginPanel(passwdbtn, "passwordLogin");
				}
			});
		</script>
	</head>
	<body>
		<div id="header">
			<img src="img/logo2.png" width="30" height="70" class="logo" />
			<ul class="header-nav">
				<li><a href="index.html">寺库首页</a></li>
				<li><a href="#">收藏寺库</a></li>
				<li><a href="#">寺库APP</a></li>
			</ul>
		</div>
		<div id="pageBody">
			<div class="pd-panel">
				<div class="oper-tab">
					<label class="active"><span onclick="toggleLoginPanel(this,'qrcodeLogin')">扫码登录</span>
						</label><label><span id="passwordLoginButton" onclick="toggleLoginPanel(this,'passwordLogin')">密码登录</span></label>
				</div>
				<div id="qrcodeLogin">
					<img src="img/show.png" width="200" height="200" />
				</div>
				<div id="passwordLogin">
					<form id="form1" method="post" action="login">
						<dl>
							<dd>
								<p class="form-p-input"><input type="text" name="userName" placeholder="用户名/手机号/邮箱" required autofocus class="form-input" />
									<i class="fa fa-user fa-2x"></i>
								</p>
							</dd>
							<dd>
								<p class="form-p-input"><input type="password" name="password" placeholder="密码" required class="form-input" />
									<i class="fa fa-lock fa-2x"></i>
								</p>
							</dd>
							<dd>
								<p><input type="checkbox" name="isSaveAccount" checked /> 记住账号</p>
							</dd>
							<dd>
								<p style="text-align: center;color: darkred;">[[${error}]]</p>
							</dd>
							<dd>
								<p class="form-btn"><input type="submit" value="立即登录" /></p>
							</dd>
						</dl>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
