<!DOCTYPE html>
<html>
	<head>
		<base href="/demo0907/" />
		<meta charset="utf-8">
		<title>Secoo管理平台</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/add.css" />
		<script src="js/jquery-3.5.1.min.js"></script>
		<script>
			/**
			 * 表单验证
			 */
			function validateForm() {
				//获得类型名表单控件
				var typeNameField = $("#typeName");
				//获得类型名
				var typeName = typeNameField.val();
				//判断类型名是否未空, null转换Boolean型，值为false
				if(!typeName) {
					//获取显示错误信息的元素
					var errorField = typeNameField.parent().prev().children(".error");
					//写入错误信息
					errorField.text("请输入类型名!");
					//控件获得焦点
					typeNameField.focus();
					//返回false, 阻止表单提交
					return false;
				}
				//长度验证
				if(typeName.length<2 || typeName.length>16) {
					var errorField = typeNameField.parent().prev().children(".error");
					errorField.text("超出规定长度: 2~16字符!");
					typeNameField.focus();
					return false;
				}
				//获得描述的表单控件
				var typeDescField = $("#typeDesc");
				//获得描述
				var typeDesc = typeDescField.val();
				//长度验证
				if(typeDesc.length>100) {
					var errorField = typeDescField.parent().prev().children(".error");
					errorField.text("超出规定长度: 0~100字符!");
					typeDescField.focus();
					return false;
				}
				return true;
			}
			
			/**
			 * 验证类型名
			 */
			function validateTypeName() {
				//验证类型名是否合法
				var typeNameField = $("#typeName");
				var typeName = typeNameField.val();
				if(typeName && typeName.length>=2 && typeName.length<=16) {
					var errorField = typeNameField.parent().prev().children(".error");
					//清除错误信息
					errorField.text("");
				}
			}
			
			/**
			 * 验证描述
			 */
			function validateTypeDesc() {
				var typeDescField = $("#typeDesc");
				var typeDesc = typeDescField.val();
				if(typeDesc.length<=100) {
					var errorField = typeDescField.parent().prev().children(".error");
					errorField.text("");
				}
			}
		</script>
	</head>
	<body>
		<div id="header">
			<img src="img/logo2.png" width="30" height="70" class="logo" />
			<ul class="header-nav">
				<li><a href="index.html">寺库首页</a></li>
				<li><a href="javascript:void(0);">收藏寺库</a></li>
				<li><a href="javascript:void(0);">寺库APP</a></li>
			</ul>
			<div class="user-info"><i class="fa fa-user-circle-o"></i>admin
				<ul>
					<li><a href="javascript:void(0);">个人中心</a></li>
					<li><a href="javascript:void(0);">修改密码</a></li>
					<li><a href="login.html">注销</a></li>
				</ul>
			</div>
		</div>
		<div id="pageBody">
			<h4 class="title">商品类型</h4>
			<hr />
			<div id="sideBar">
				<iframe src="sidebar.html" width="100%" height="100%" frameborder="0"></iframe>
			</div>
			<div class="content">
				<div class="input-bar">
					<i class="fa fa-reply" onclick="location.href='admin/type/typelist.html';"></i>
				</div>
				<div class="input-panel">
					<form id="form1" method="get" action="admin/type/typelist.html" onsubmit="return validateForm();">
						<dl>
							<dt>添加商品类型</dt>
							<dd>
								<p>类型名<span class="error"></span></p>
								<p><input type="text" id="typeName" name="typeName" autofocus 
									class="form-control" onchange="validateTypeName()" /></p>
							</dd>
							<dd>
								<p>描述<span class="error"></span></p>
								<p><textarea id="typeDesc" name="typeDesc" class="form-control"
									onchange="validateTypeDesc()"></textarea></p>
							</dd>
							<dd class="btn-groups">
								<input type="submit" value="确 定" class="btn btn-primary" />
								<input type="reset" value="重 置" class="btn btn-success" />
							</dd>
						</dl>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
